.git/
# Transifex
/.tx/
#for development in vbox
/vendor/
src/vendor/
src/composer.json
composer.lock
#IDE
.buildpath
.project
.settings/
#Cache
src/Resources/contao/cache/largebrowscap_*/largebrowscap.iniparts.*
src/Resources/contao/cache/largebrowscap_*/largebrowscap.patterns.*
#test cache
tests/cache/
tests/vendor/
tests/phpunit-todo.txt
#phpunit
.phpunit.result.cache
ergebnis.txt
