.git/
# Transifex
/.tx/
#for development in vbox
/vendor/
src/vendor/
src/composer.json
composer.lock
#IDE
.buildpath
.project
.settings/
#Cache
src/Resources/contao/cache/*.cache
#test cache
tests/cache/
tests/vendor/
tests/phpunit-todo.txt
#phpunit
.phpunit.result.cache
results.short.txt
results.txt
